*.DS_Store
BuildCache
.idea
Temp
Logs
obj
3DMahjong.sln
3DMahjong.sln.DotSettings.user
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
UserSettings/Layouts
/Library
*.csproj
GFData
AssetGFBundle
Build
*.dwlt
*.apk